@model HaloRuns.Models.ViewModels.RunForm


@section Title { Run Entry }

<strong>Create a Request for @Model.user.Username</strong>
<div class="RunFormcontainer" style="padding-top:50px">

    @* @using (Html.BeginForm("RunPost", "Profile", FormMethod.Post, new { @id = "CreateRequestPartialForm", @class = "form-horizontal", role = "form" })) *@
    @using (Html.BeginRouteForm("RunSubmit", new { user = Model.user.Username }, FormMethod.Post))

    {
        <h2>Create a Request</h2>
        <p>The select element is used to create a drop-down list.</p>

        <label asp-for="games">Choose a game:</label>
        @* @Html.DropDownListFor(m => m.games, new SelectList(new List<SelectListItem> { new SelectListItem{ Text = "no selection", Value = "-1" } }).Concat(new SelectList(Model.games.Select(m => m.name))), new { id = "1" }) *@

        @* @Html.DropDownListFor(m => m.games, new SelectList(new List<string> { "no selection" }).Concat(new SelectList(Model.games.Select(m => m.name))), new { id = "1" }) *@
        @* @Html.DropDownListFor(m => m.games, new SelectList(Model.games.Select(m => new SelectListItem { Text = m.name, Value = m.id.ToString() }).ToList()), new { id = "1" }) *@
        @Html.DropDownListFor(m => m.GameId, new SelectList(Model.games, nameof(HaloRuns.Models.Game.id), nameof(HaloRuns.Models.Game.name)), new { id = "game" })
        <label asp-for="run.Edition">Choose an editon:</label>
        <!-- <p>Edition:</p> -->
        @Html.DropDownListFor(m => m.run.EditionId, new SelectList(new string[] { "no selection" }), new { id = "edition" })

        <label asp-for="run.Map">Choose a map:</label>
        <!-- <p>Map:</p> -->
        @Html.DropDownListFor(m => m.run.MapId, new SelectList(new string[] { "no selection" }), new { id = "map" })

        <label asp-for="difficulties">Choose a difficulty:</label>

        @Html.DropDownListFor(m => m.run.DifficultyId, new SelectList(Model.difficulties, nameof(HaloRuns.Models.Difficulty.Id), nameof(HaloRuns.Models.Difficulty.Name)), new { id = "difficulty" })

        <label for="firstName">Your first name</label>
        <input type="text" id="firstName" placeholder="Your name goes here" name="firstName"/>
        <input type="submit" value="submit" />
        <!--
        <button type="submit" form="nameform" value="Submit" id="Submit"
                data-submit-endpoint="Url.RouteUrl("RunSubmit", new {user = Model.user.Username})">
            Submit
        </button>
        -->
    }
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            const kEditionListEndpointFormatString = "@Url.RouteUrl("RunEntryFetchEditionRouteName", new { user = Model.user.Username, game = "REPLACE_STR" })";
            const kMapListEndpointFormatString = "@Url.RouteUrl("RunEntryFetchMapRouteName", new { user = Model.user.Username, game = "REPLACE_STR" })";
            const submitEndpointFormatString = "@Url.RouteUrl("RunSubmit", new {user = Model.user.Username})"
            $('#game').change(function () {
                /*
                function filter(myarray, pred)
                {
                    let ret = [];
                    for (let i = 0; i < myarray.length; ++i) {
                        if (pred(i) == true) {
                            ret.append(myarray[i]);
                        }
                    }
				}
                */
                $("#edition").children().filter(function (index) {
                    //return $(this).name != null;
                    return index != 0;
                }).remove();
                $("#map").children().filter(function (index) {
                    //return $(this).name != null;
                    return index != 0;
                }).remove();

                /*
                $("#editions").children().filter(function (index) {
                    return index != 0;
                }.each(function (item) { item.empty(); });
                */

                //const AbrevGameEdition = $(this).children('option:selected').first().data("edition-list-endpoint");
				//const AbrevGameEdition = decodeURIComponent(tkEditionListEndpointFormatString).format()
                const AbrevGameEdition = kEditionListEndpointFormatString.replace('REPLACE_STR', $(this).children('option:selected').first().val());
                $.get(AbrevGameEdition, null, function (response) {
                    console.log("hello");
                    response.forEach(function (item) {
                        const editionName = item.name;
                        const editionId = item.id;
                        $("#edition").append(`<option value=${editionId}> ${editionName}</option>`);
                    });
                });

                //const AbrevGameMap = $(this).children('option:selected').first().data("map-list-endpoint");
                const AbrevGameMap = kMapListEndpointFormatString.replace('REPLACE_STR', $(this).children('option:selected').first().val());
                $.get(AbrevGameMap, null, function (response) {
                    console.log("hello");
                    response.forEach(function (item) {
                        const mapName = item.name;
                        const mapId = item.id;
                        console.log( mapId);
                        //$(".maps").append(`<option value =${mapId}> ${mapName}</option>`);
                        $("#map").append(`<option value =${mapId}> ${mapName}</option>`);
                    });
                });

            });

            /*
            $('#Submit').click(function () {
                console.log("clicked");
                var mapId = $("#map :selected").attr('value');
                var editionId = $("#edition :selected").attr('value');
                var difficultyId = $(".difficulties :selected").attr('value');
                var gameId = $(".games :selected").attr('value');
                const submitAbrev = $(this).data("submit-endpoint");
                var Ids = { map: mapId, edition: editionId, difficulty: difficultyId, game: gameId };
                var RunIds = JSON.stringify(Ids);
                $.post(submitEndpointFormatString, RunIds, function (response) {
                    console.log(response);
                });
            });
            */
        });
    </script>
}
