@model HaloRuns.Models.ViewModels.RunForm


@section Title { Run Entry }

<strong>Create a Request for @Model.user.Username</strong>
<div class="RunFormcontainer" style="padding-top:50px">

    @using (Html.BeginForm("Create", "Runs", FormMethod.Post, new { @id = "CreateRequestPartialForm", @class = "form-horizontal", role = "form" }))
    {
        <h2>Create a Request</h2>
        <p>The select element is used to create a drop-down list.</p>

        <form id="Table" asp-controller="Profile" asp-action="RunPost">
            <label for="games">Choose a game:</label>
            <select id="games" class="games">

                <option value="-1">no selection</option>
                @foreach (var game in Model.games)
                {
                    <option value="@game.id"
                            data-edition-list-endpoint="@Url.RouteUrl("RunEntryFetchEditionRouteName", new { user = Model.user.Username, game = game.RouteName })"
                            data-map-list-endpoint="@Url.RouteUrl("RunEntryFetchMapRouteName", new { user = Model.user.Username, game = game.RouteName })">
                        @game.name
                    </option>
                }
            </select>
            <label for="edition">Choose an editon:</label>
            <select id="editions" class="editions">
                <option value="-1">no selection</option>
            </select>

            <label for="map">Choose a map:</label>
            <select id="maps" class="maps">
                <option value="-1"> no selction</option>
            </select>

            <label for="difficulties">Choose a difficulty:</label>
            <select id="difficulties" class="difficulties">
                <option value="-1"> no selction</option>
                @foreach (var diff in Model.difficulties)
                {
                    <option value="@diff.Id">
                        @diff.Name
                    </option>
                }
            </select>
            <button type="submit" form="nameform" value="Submit" id="Submit"
                    data-submit-endpoint="@Url.RouteUrl("RunSubmit", new {user = Model.user.Username})">
                Submit
            </button>
        </form>
        <p>Game:</p>
        @* @Html.DropDownListFor(m => m.games, new SelectList(new List<SelectListItem> { new SelectListItem{ Text = "no selection", Value = "-1" } }).Concat(new SelectList(Model.games.Select(m => m.name))), new { id = "1" }) *@

		@* @Html.DropDownListFor(m => m.games, new SelectList(new List<string> { "no selection" }).Concat(new SelectList(Model.games.Select(m => m.name))), new { id = "1" }) *@
		@* @Html.DropDownListFor(m => m.games, new SelectList(Model.games.Select(m => new SelectListItem { Text = m.name, Value = m.id.ToString() }).ToList()), new { id = "1" }) *@
		@Html.DropDownListFor(m => m.games, new SelectList(Model.games, nameof(HaloRuns.Models.Game.id), "name"), new { id = "1" })

        <p>Difficulty:</p>
        @Html.DropDownListFor(m => m.run.DifficultyId, new SelectList(new List<string> { "no selection" }).Concat(new SelectList(Model.difficulties.Select(m => m.Name))), new { id = "2" })
        <p>Edition:</p>
        @Html.DropDownListFor(m => m.run.EditionId, new SelectList(new string[] { "no selection" }), new { id = "3" })
        <p>Map:</p>
        @Html.DropDownListFor(m => m.run.MapId, new SelectList(new string[] { "no selection" }), new { id = "4" })

    }
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            const kEditionListEndpointFormatString = "@Url.RouteUrl("RunEntryFetchEditionRouteName", new { user = Model.user.Username, game = "REPLACE_STR" })";
            const kMapListEndpointFormatString = "@Url.RouteUrl("RunEntryFetchMapRouteName", new { user = Model.user.Username, game = "REPLACE_STR" })";

            $('#1').change(function () {
                /*
                function filter(myarray, pred)
                {
                    let ret = [];
                    for (let i = 0; i < myarray.length; ++i) {
                        if (pred(i) == true) {
                            ret.append(myarray[i]);
                        }
                    }
				}
                */
                $("#3").children().filter(function (index) {
                    //return $(this).name != null;
                    return index != 0;
                }).remove();
                $("#4").children().filter(function (index) {
                    //return $(this).name != null;
                    return index != 0;
                }).remove();

                /*
                $("#editions").children().filter(function (index) {
                    return index != 0;
                }.each(function (item) { item.empty(); });
                */

                //const AbrevGameEdition = $(this).children('option:selected').first().data("edition-list-endpoint");
				//const AbrevGameEdition = decodeURIComponent(tkEditionListEndpointFormatString).format()
                const AbrevGameEdition = kEditionListEndpointFormatString.replace('REPLACE_STR', $(this).children('option:selected').first().val());
                $.get(AbrevGameEdition, null, function (response) {
                    console.log("hello");
                    response.forEach(function (item) {
                        const editionName = item.name;
                        const editionId = item.id;
                        $(".editions").append(`<option value=${editionId}> ${editionName}</option>`);
                    });
                });
                
                //const AbrevGameMap = $(this).children('option:selected').first().data("map-list-endpoint");
                const AbrevGameMap = 
                const AbrevGameMap = kMapListEndpointFormatString.replace('REPLACE_STR', $(this).children('option:selected').first().val());
                $.get(AbrevGameMap, null, function (response) {
                    console.log("hello");
                    response.forEach(function (item) {
                        const mapName = item.name;
                        const mapId = item.id;
                        console.log( mapId);
                        $(".maps").append(`<option value =${mapId}> ${mapName}</option>`);
                    });
                });

            });

            $('#Submit').click(function () {
                console.log("clicked");
                var mapId = $(".maps :selected").attr('value');
                var editionId = $(".editions :selected").attr('value');
                var difficultyId = $(".difficulties :selected").attr('value');
                var gameId = $(".games :selected").attr('value');
                const submitAbrev = $(this).data("submit-endpoint");
                var Ids = { map: mapId, edition: editionId, difficulty: difficultyId, game: gameId };
                var RunIds = JSON.stringify(Ids);
                $.post(submitAbrev, RunIds, function (response) {
                    console.log(response);
                });
            });
        });
    </script>
}
